body {
  background-color: #eeeeee;
}

.barraCima{
  position: fixed !important;
  z-index:11;
  width: 100%;
  background-color: #4e83b1;
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 25;
  color: white;
}

.rodape{
  position: fixed !important;
  z-index: 2;
  background-color: #4e83b1;
  width: 100%;
  bottom: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 100px;
  padding-right: 100px;
}

.jumbotron {
  margin-top: 110px;
  margin-bottom: 90px;
  margin-right: auto;
  margin-left: auto;        
  background-color: #4e83b1; 
}


.btn{
  margin-top: 40px;
}