<html lang="pt" ng-app="ifopendoors">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="css/my/addPessoa.css" rel="stylesheet">
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/my/addPessoa.js"></script>
</head>

<body ng-controller="ifopendoorsCtrl">
 <div class="barraCima">
   <button class="btn btn-link" ng-click="barra()">
     <span class="glyphicon glyphicon-menu-hamburger fora"></span>
   </button>
   <center><h4><b class="nomeFora">Adicionar Pessoa</b></h4></center>      
 </div>
 <div ng-show="show">
   <div class="ofusca" ng-click="barra()"></div>

   <nav class="affix barra">
    <div>
      <button class="btn btn-link" ng-click="barra()">
        <span class="glyphicon glyphicon-menu-hamburger dentro"></span>
      </button>
    </div>
    <center><img width="80px" height="80px" alt="Brand" src="img/logoTT.png"></center>
    <p></p>
    <ul class="nav nav-pills nav-stacked">
      <li><a href="#" ng-click="salasOptions()"><div class="prin">Salas</div></a></li>
      <li ng-show="shows=='sala'" ng-repeat="opcao in salasOpcaos"><a href="#"><div class="top">{{opcao}}</div></a></li>
      <li><a href="#" ng-click="pessoasOptions()"><div class="prin">Pessoas</div></a></li>
      <li ng-show="shows=='pessoa'" ng-repeat="opcao in pessoasOpcaos"><a href="#"><div class="top">{{opcao}}</div></a></li>
    </ul>
  </nav>
</div>

<div class="primeiro">
  <div class="col-md-3"></div>

  <div class="col-md-6">
    <form class="well">
      <div class="form-group">
        <label>Nome Completo</label>
        <input type="text" class="form-control" placeholder="Fulano da Silva" ng-model="pessoa.name">

        <label>CPF</label>
        <input type="text" class="form-control" placeholder="xxx.xxx.xxx-xx" ng-change="cpf(pessoa.cpf)" ng-model="pessoa.cpf">
        
        <label>Email</label>
        <input type="email" class="form-control" placeholder="nome@ifpb.edu" ng-model="pessoa.email">
        
        <label>Senha do Usuário</label>
        <input type="password" class="form-control" placeholder= "Mínimo 6 digitos" ng-model="pessoa.password" ng-pattern ="/\d{6}/">
        
        <label>Repita a Senha</label>
        <input type="password" class="form-control" placeholder= "Mínimo 6 digitos" ng-model="senhaVer" ng-pattern ="/\d{6}/">
      </div>

      <div class="alert alert-success" ng-show="pessoa.name && (pessoa.cpf.length==14) && pessoa.email && pessoa.password && senhaVer">
        <strong>Sucesso!</strong> Todos os campos foram preenchidos com sucesso.
      </div>

      <div class="alert alert-danger fade in" ng-show="pessoa.password!=senhaVer">
        <strong>Cuidado!</strong> As senhas não coincidem.
      </div>

      <button type="button" ng-click= "addPessoa(pessoa)" class="btn btn-block btn-success" ng-disabled="!pessoa.name || (pessoa.cpf.length!=14) || !pessoa.email || !pessoa.password || (pessoa.password!=senhaVer)" data-toggle="modal">Cadastrar Pessoa</button>
    </form>
  </div>
  <div class="col-md-3"></div>

  <div class="col-md-12 rodape">
    <img class="img" src="img/ifpb-branco.png" width="150px" height="50px" align="left" />
    <img class="img" src="img/ladoss-branco.png" width="200px" height="40px" align="right" />       
  </div>
</div>
</body>
</html>