<html lang="pt" ng-app="ifopendoors">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/my/addPessoa.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/my/addPessoa.js"></script>
  </head>

 <body ng-controller="ifopendoorsCtrl">
   <div class="barraCima">
     <button class="btn btn-link" ng-click="barra()">
       <span class="glyphicon glyphicon-menu-hamburger fora"></span>
     </button>
     <center><h4><b class="nomeFora">Adicionar Pessoa</b></h4></center>      
   </div>
    <div ng-show="show">
     <div class="ofusca" ng-click="barra()"></div>

<nav class="affix barra">
        <div>
          <button class="btn btn-link" ng-click="barra()">
            <span class="glyphicon glyphicon-menu-hamburger dentro"></span>
          </button>
        </div>
        <center><img width="80px" height="80px" alt="Brand" src="img/logoTT.png"></center>
        <p></p>
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#" ng-click="salasOptions()"><div class="prin">Salas</div></a></li>
          <li ng-show="shows=='sala'" ng-repeat="opcao in salasOpcaos"><a href="#"><div class="top">{{opcao}}</div></a></li>
          <li><a href="#" ng-click="pessoasOptions()"><div class="prin">Pessoas</div></a></li>
          <li ng-show="shows=='pessoa'" ng-repeat="opcao in pessoasOpcaos"><a href="#"><div class="top">{{opcao}}</div></a></li>
        </ul>
      </nav>
    </div>

    <div class="primeiro">
      <div class="col-md-3"></div>
      
      <div class="col-md-6">
        <form class="well">
          <div class="save"></div>

          <div class="form-group">
            <label>Nome Completo</label>
            <input type="text" class="form-control"  ng-model="pessoa.nome">
          </div>

          <div class="form-group">
            <label>CPF</label>
            <input type="text" class="form-control" placeholder="xxx.xxx.xxx-xx" ng-model="pessoa.cpf" ng-pattern ="/^\d{3}.\d{3}.\d{3}-\d{2}$/">
          </div>
          <div class="form-group">
            <label>Escolha uma opção</label>
            <select class="form-control" ng-model="pessoa.tipo">
              <option>Professor</option>
              <option>Coordenador</option>
              <option>Faxineiro</option>
            </select>

        <div class="form-group">
            <label>E-Mail</label>
            <input type="email" class="form-control" placeholder="Nome@ifpb.com" ng-model="pessoa.email">
        </div>    

        <div class="form-group">
          <label>Senha do Usuário</label>
          <input type="password" class="form-control" placeholder= "Mínimo 6 DÍGITOS" ng-model="pessoa.senha" ng-pattern ="/\d{6}/">
        </div>

        <div class="form-group">
          <label>Repita a Senha</label>
          <input type="password" class="form-control" placeholder= "Mínimo 6 DÍGITOS" ng-model="senhaVer" ng-pattern ="/\d{6}/">
        </div>


      <div class="alert alert-success" ng-show="pessoa.nome && pessoa.tipo && pessoa.cpf && pessoa.email && pessoa.senha1 && pessoa.senha2">
        <strong>Sucesso!</strong> Todos os campos foram preenchidos com sucesso.
      </div>

      <div class="alert alert-danger fade in" ng-show="!senha(pessoa.senha,senhaVer)">
        <strong>Cuidado!</strong> As senhas não coincidem.
      </div>

        <hr/>
          <button type="button" ng-click= "adicionarPessoa(pessoa)" class="btn btn-block btn-success" ng-disabled="!pessoa.nome || !pessoa.tipo || !pessoa.cpf || !pessoa.email || !pessoa.senha || !senha(pessoa.senha,senhaVer)" data-toggle="modal" data-target="#CadastroPessoa">Cadastrar Pessoa</button>
      </div>


      <div class="col-md-12 rodape">
        <img class="img" src="img/ifpb-branco.png" width="150px" height="50px" align="left" />
        <img class="img" src="img/ladoss-branco.png" width="200px" height="40px" align="right" />       
      </div>      
    </div>