.panel{
  text-align: center;
}

.panel-heading{
  font-size: 17;
}

.input-group{
  margin-bottom: 50px;
}

.addSala:link,
.addSala:visited,
.addSala:hover,
.addSala:focus,
.addSala:active{
	text-decoration: none;
	color: #555;
}