.jumbotron{
  margin-top: 130px;
  margin-bottom: 90px;
  width: 450px;
  margin-left: -25px;

  background-color: #3d668a;
}

.alert{
  position: fixed !important;
  margin-top: 80px;
  right: 0px;
  z-index:11;
}

.login{
  margin-top: 40px;
}

.entrar{
  color: black;
  color: #e6e7e8;
  font-size: 40px;
}

.email{
  margin-top: 50px;
}