.jumbotron{
  margin-top: 110px;
  margin-bottom: 90px;
  margin-right: auto;
  margin-left: auto;
  background-color: #4e83b1; 
}

.alert{
  position: fixed !important;
  margin-top: 80px;
  right: 0px;
  z-index:11;
}

.login{
  margin-top: 40px;
}

div{
  max-width: 100%;
  max-height: 100%;
}