<link href="css/addPessoa.css" rel="stylesheet">

<div class="col-md-2"></div>

<div class="col-md-8">

  <form class="well inicio">
  <div class="container">
    <h2>Dispositivos Onlines:</h2>
    <p></p>
  </div>

  <div class="input-group input-group-lg">
    <input type="text" ng-model="busca" class="form-control" placeholder="Pesquise dispositivos"></input>
    <a class="input-group-addon glyphicon glyphicon-search"></a>
  </div>
  <hr>
    <table class="table table-hover table-striped ">
      <thead>
        <tr>
          <th>IP</th>
          <th>ID</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="esp in esps | filter:busca" ng-class="{'warning': esp.status=='Ocupado', 'success': esp.status=='Online', 'danger': esp.status=='Offline'}">
          <td>{{esp.ip}}</td>
          <td>{{esp.id}}</td>
          <td>{{esp.status}}</td>
          <td><button class="btn success" data-toggle="collapse" data-target="#{{esp.id}}"><b>Detalhes</b></button>
            <div id="{{esp.id}}" class="collapse">
            {{esp.descricao}}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
