<link href="css/login.css" rel="stylesheet">

<div class="row">
  <div class="col-md-4 col-sm-2 col-xs-1"></div>
  <div class="col-md-4 col-sm-8 col-xs-10 jumbotron">
    
    <center><b class="entrar">Entrar</b></center>

    <div class="input-group email">
      <span class="input-group-addon glyphicon glyphicon-envelope"></span> 
      <input type="email" ng-model="login.email" class="form-control" placeholder="Email">
    </div>

    <div class="input-group">
      <span class="input-group-addon glyphicon glyphicon-lock"></span>          
      <input type="password" ng-model="login.password" class="form-control" placeholder="Senha">
    </div>

    <button type="submit" class="btn btn-success btn-block login" ng-click="loginValidation(login)" ng-disabled="!login.email || !login.password">Login</button>
  </div>
  <div class="col-md-4 col-sm-2 col-xs-1"></div>
</div>